@font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1.logo-spacing {
    font-family: 'HSBombaram21-Regular';
    font-size: var(--font_xlg);
    text-align: center;
    color: var(--primary_m);
    letter-spacing: .05em;
    margin-top: 50px;
    margin-bottom: 20px;
    user-select: none;
    pointer-events: none;
}

h1.logo-spacing span {
    font-family: 'HSBombaram21-Regular';
    color: var(--font_xlg);
    border-radius: 10px;
    padding: 5px 10px;
    background: linear-gradient(
        90deg,
        rgba(173, 216, 230, 0.8),
        rgba(70, 130, 180, 0.8)
    );
    user-select: none;
    pointer-events: none;
}
